<h1>README</h1>

<p>This is the README for the compilers project of 2016 for:</p>

<ul>
<li>Joran Dox</li>
<li>Joeri Reyns</li>
</ul>

<h1>Dependencies</h1>

<ul>
<li>Python 3</li>
<li>Antlr4</li>
<li><p>Antlr4 runtime</p></li>
<li><p>Extra's for running the Pmachine</p>

<ul><li>Linux and Windows versions of the Pmachine can be found in ./Pmachine/</li>
<li>Linux (32 bit): should work out of the box</li>
<li>Linux (64 bit):  libc6:i386 libncurses5:i386 libstdc++6:i386
(<code>sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386</code>)</li>
<li>Windows: Staticly linked exe included</li></ul></li>
</ul>

<p>(Both antlr4 and antlr4 runtime installers for windows are included in the project. Beware these are versions from the start of the project and might be outdated)</p>

<h1>How do I get set up?</h1>

<ul>
<li>Clone this git repo into a folder of your liking using the git clone command</li>
<li>Move to the project folder</li>
<li>Open a terminal here by shift clicking inside the folder and choosing "open terminal here" or open a new terminal and cd to this location</li>
<li>Next you will have a list of possible commands you can enter</li>
</ul>

<h2>Possible commands in the project folder</h2>

<p>(.bat version for windows, .sh version for linux)</p>

<ul>
<li>### build
<ul><li>Build the compiler, this will generate a build directory with all needed files in it</li></ul></li>
<li>### test
<ul><li>Will do the same as build but add test files to the build directory and run all tests</li></ul></li>
<li>### clean
<ul><li>Will remove the build directory</li></ul></li>
</ul>

<h1>Using the compiler</h1>

<p>Once you built the compiler you can perform next commands in the build directory to compile c code to p machine code</p>

<ul>
<li>Windows: <code>py -3 c2p.py source.c [target.p]</code></li>
<li>Linux: <code>python3 c2p.py source.c [target.p]</code></li>
</ul>

<h2>Extra commandline arguments are possible</h2>

<ul>
<li>-h or --help, for help about commandline arguments</li>
<li>(-q | --quiet) or (-s | --silent), for quiet or silent compiling respectively (sets verbosity to 0)</li>
<li>(-e | --err) file, to pipe the compiler output (i.e. warnings and errors) towards a file</li>
<li>(-v | --verbose) number, for changing verbose level
<ul><li>0 : don't print anything</li>
<li>1 : print errors and warnings</li>
<li>2 : same as 1 with string representation of AST ,Symbol Table and error + warning count overview</li>
<li>3 : same as 2 but print all function entries as well (only be used for compiler debugging)</li></ul></li>
</ul>

<h1>Supported c constructs</h1>

<h2>Mandatory</h2>

<ul>
<li>Types
<ul><li>void</li>
<li>char</li>
<li>int</li>
<li>float</li>
<li>pointer</li></ul></li>
<li>Includes -> only stdio, namely printf and scanf functions
<ul><li>As a failsafe in scanf against undefined behaviour we implemented support for only single input.</li>
<li>We also chose not to support %s for usability reasons, forcing a user to enter input one character at a time seems like something you wouldn't want to do.</li>
<li>Since %s isn't supported in scanf we decided to not support it in printf for consistency. You can easily write a print array function in c which can handle printing char*</li></ul></li>
<li>Reserved Words
<ul><li>All types</li>
<li>if</li>
<li>else</li>
<li>while</li>
<li>return</li></ul></li>
<li>Variables
<ul><li>Constants</li>
<li>Local</li>
<li>Global</li></ul></li>
<li>Comments
<ul><li>Single-line</li></ul></li>
<li>Functions
<ul><li>Function declarations without parameter identifiers</li>
<li>Function definitions</li>
<li>Function calls</li>
<li>Check of return statements</li>
<li>Note function calls to main are not supported as variables arn't seen as possibly indirect within the main function</li></ul></li>
<li>Arrays
<ul><li>Single dimensional arrays</li></ul></li>
</ul>

<h2>Optional</h2>

<ul>
<li>Reserved Words
<ul><li>for</li>
<li>const</li>
<li>continue</li>
<li>break</li></ul></li>
<li>Comments
<ul><li>Multi-line</li></ul></li>
<li>Arrays
<ul><li>Dynamic arrays</li></ul></li>
<li>Conversions</li>
<li>Ternary operator of form <code>disjunction '?' simple_expression ':' condition</code></li>
</ul>

<h1>AST</h1>

<p>Abstract syntax tree is generated based on the src/ast.py and src/astnode.py classes
and constructed using the antlr4 visitor to visit each node in the parse tree.
We also flatten the parse tree by flattening nodes with single child since those nodes don't provide usefull information.</p>

<h1>Symbol Table</h1>

<p>The Symbol Table is an extra class defined in src/symboltable.py.
This class is used inside the AST to build the symbol table.
At every AST Node a check is made if there is a need for a new scope, new declaration, new definition, ...
This way the correctness of all statements can be tested.</p>

<h1>Error Listener</h1>

<p>For ensuring consistent error handling we chose to inherit from Antlr4's errorListeners.
This enables us to provide extra info (e.g. type warnings) to the users in the same manner as syntax errors by Antlr4.
Source code can be found in src/errorhandling.py.</p>

<h1>Error Analysis</h1>

<ul>
<li>Syntactical error analysis
<ul><li>Antlr4</li></ul></li>
<li>Semantical error analysis
<ul><li>Valid usage of declarations -> symbol table entries</li>
<li>Warnings based on conversions</li>
<li>Type errors and warnings</li>
<li>Valid usage of a array initializer</li></ul></li>
</ul>

<h1>Compilation to P code</h1>

<p>If you run the code:</p>

<ul>
<li>Windows: <code>py -3 c2p.py source.c [target.p]</code></li>
<li>Linux: <code>python3 c2p.py source.c [target.p]</code></li>
</ul>

<h2>Extra commandline arguments are possible</h2>

<ul>
<li>-h or --help, for help about commandline arguments</li>
<li>(-q | --quiet) or (-s | --silent), for quiet or silent compiling respectively (sets verbosity to 0)</li>
<li>(-e | --err) file, to pipe the compiler output (i.e. warnings and errors) towards a file</li>
<li>(-v | --verbose) number, for changing verbose level
<ul><li>0 : don't print anything</li>
<li>1 : print errors and warnings</li>
<li>2 : same as 1 with string representation of AST ,Symbol Table and error + warning count overview</li>
<li>3 : same as 2 but print all function entries as well (only be used for compiler debugging)</li></ul></li>
</ul>

<p>source code will be compiled in target.p
and can then be run on the pmachine:</p>

<ul>
<li>./path-to-Pmachine/Pmachine(.exe) ./path-to-target-file/target.p</li>
</ul>

<h1>Test Cases</h1>

<p>Our test cases are based on the included tests of gcc
and examples found at <a href="http://www.programmingsimplified.com/c-program-examples">programmingsimplified.com</a>.
We also added our own test cases found in three folders:</p>

<ul>
<li><code>src/c_code</code>: for the code that compiles and runs as it should</li>
<li><code>src/c_code_input</code>: for the code that compiles and runs but requires user input (and thus can't be used for automatic testing</li>
<li><code>src/c_code_nocompile</code>: for test code that shouldn't compile with gcc nor with our compiler (so comparing output with gcc is useless)</li>
</ul>

<p>Can be run by using the test command in the project folder.</p>

<p>The compare_test script compiles the .c files into .p files and compares the output with the gcc's compiled version's output.</p>

<h1>Current platform Support</h1>

<p>Both Linux and Windows platforms should be supported with working clean, build and test scripts.</p>

